.homepage-container {
    padding-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.glossary-board {
    height: 300px;
    background-image: linear-gradient(white, lightgrey, white);
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(5, 1fr);  
    text-align: center;
    align-items: center;
}

.term {
    font-weight: bold;
}

.term:hover{
    transform: scale(1.2);
    transition: transform .5s;
    cursor: default;
}

.term:not(:hover) {
        transform: scale(1);
        transition: transform .5s;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.term-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 20px;
}